@font-face {
    font-family: "Helvetica Neue";
    src: url("./fonts/HelvecticaNeue.ttc") format("truetype-collection");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif !important;
}